<h1>My projects:</h1>

<div class="bycard">
  <% @projects.each do |project|%>
  <div class="card" style="width: 28rem;">
     <%= image_tag(project.image, class:"card-img-top")%>
     <h5 class="card-title"><%= project.category %></h5>
     <p class="card-text"><%= project.description %></p>
     <% if project.user == current_user %>

       <div class="col-1">
         <%= button_to "delete", project, method: :delete, class:"btn btn-primary" %>
       </div>
      <% end %>
</div>
<% end %>
  </div>
