.login-container, .application-container {
  margin-top: 15%;
  margin-left: 18%;
}

.card {
  margin-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

}
.bycard {
  padding-bottom: 20px;
}

.container1 {
  padding-left: 10%;
  width: 40%;
  height: 500px;
  background-color:#0080ff;

}
.message {
  padding-top:110px;
  color: #ffffff;
  font-size: 35px;
}
.message2{
  color: #ffffff;
  font-size: 35px;
  float:right;
  margin-right: 35px;
}

.col-2 {
  background-color: #009933;
}

.font{
  color: white;
}
